/* Surah list styles */
.surah-list {
    width: 100%;
    max-width: 500px;
  }
  
  .surah-list ul {
    list-style: none;
    padding: 0;
  }
  
  .surah-list li {
    padding: 15px;
    border-bottom: 1px solid #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .surah-list li:hover {
    background-color: #333; /* Slightly lighter dark background */
  }
  
  /* Mobile responsiveness */
  @media (max-width: 600px) {
    .audio-player h2 {
      font-size: 1.2rem;
    }
  
    .audio-player button {
      width: 100%;
      font-size: 1.2rem;
    }
  
    .surah-list li {
      font-size: 1.1rem;
    }
  }